.cart-container{
    position: sticky;
    top: 32px;
}

.time-spent{
    background: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;
    color: #6047EC;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}

.cart-panel{
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    padding: 8px 24px;
}

.blog-heading{
    background: #FFFFFF;
    border-radius: 8px;
    padding: 2px 16px;
    margin-bottom: 24px;
}