.news{
    border-bottom: 3px solid lightgray;
    margin-bottom: 48px;
}
.news img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-top: 24px;
}
.flex1{
    display: flex;
    align-items: center;
    gap: 12px;
}
.flex1 img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.author-info h3, p{
    margin: 0 auto;
}
.news button{
    background-color: transparent;
}
.news .btn-read{
    color: #6047EC;
    border: none;
    margin-bottom: 24px;
    padding: 10px 5px;
    font-weight: 600;
    font-size: 20px;
}
.news .btn-read:hover{
    text-decoration: underline;
}
.news h2{
    font-weight: 700;
    font-size: 40px;
}