.about-react{
    margin-top: 48px;
}
.about-react .info{
    text-align: center;
    margin: 36px;
}
.description{
    margin-bottom: 48px;
}

.description h3{
    margin-bottom: 20px;
    margin-top: 50px;
}
.description p{
    padding: 0 48px;
}


@media only screen and (max-width: 576px) {
    .about-react .info{
        margin: 64px 32px;
    }
    .description p {
        padding: 0px 24px;
    }
}

